# Игнорировать файлы и директории, перечисленные в .gitignore
.gitignore

# Игнорировать файлы с расширением .go
*.go

# Игнорировать все файлы с расширением .dev
*.dev

# Игнорировать файлы data.txt и README.md
data.txt
README.md